<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564744235361-oh65129otaqit190fv4hmpd9da23c8bm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564744235361-oh65129otaqit190fv4hmpd9da23c8bm</string>
	<key>API_KEY</key>
	<string>AIzaSyBmz5M3NgNBsR-JAbCBScRH7K19iA7TeLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>564744235361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.unam.FB-4G</string>
	<key>PROJECT_ID</key>
	<string>biberon1-9f9cd</string>
	<key>STORAGE_BUCKET</key>
	<string>biberon1-9f9cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564744235361:ios:93dc11a892d458f3bcfd20</string>
	<key>DATABASE_URL</key>
	<string>https://biberon1-9f9cd.firebaseio.com</string>
</dict>
</plist>